USE [HBSA]
GO
if exists (select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME='Payments')
	DROP TABLE [dbo].[Payments]
GO
CREATE TABLE [dbo].[Payments](
	[DateTimePaid] [datetime] NULL,
	[ClubID] [int] NULL,
	[PaymentMethod] [varchar](255) NULL,
	[PaymentReason] [varchar](255) NULL,
	[AmountPaid] [decimal](9, 2) NULL,
	[PaymentFee] [decimal](9, 2) NULL,
	[PaymentID] [int] NOT NULL,
	[Note] [varchar](255) NULL,
	[TransactionID] [varchar](32) NULL,
	[PaidBy] [varchar](1000) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(	[PaymentID] ASC
)
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Configuration] ([key], [value]) VALUES (N'PayPalTesting', N'0')
GO
INSERT [dbo].[Configuration] ([key], [value]) VALUES (N'PayPalWebRequestTimeout', N'30000')
GO
INSERT [dbo].[Configuration] ([key], [value]) VALUES (N'PayPalAPIUsername', N'accounts_api1.huddersfieldsnooker.com')
GO

--procs
USE [HBSA]
GO

/****** Object:  StoredProcedure [dbo].[Competitions_Report]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[Competitions_Report]
GO

/****** Object:  StoredProcedure [dbo].[GetPlayerDetails]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[GetPlayerDetails]
GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_MergeClubData]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[CompetitionEntryForm_MergeClubData]
GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_UpdateFeePaid]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[CompetitionEntryForm_UpdateFeePaid]
GO

/****** Object:  StoredProcedure [dbo].[NextPaymentID]    Script Date: 02/08/2016 14:00:27 ******/
--DROP PROCEDURE [dbo].[NextPaymentID]
--GO

/****** Object:  StoredProcedure [dbo].[EntryForm_Details]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[EntryForm_Details]
GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_AddPayment]    Script Date: 02/08/2016 14:00:27 ******/
--DROP PROCEDURE [dbo].[CompetitionEntryForm_AddPayment]
--GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_GetPayments]    Script Date: 02/08/2016 14:00:27 ******/
--DROP PROCEDURE [dbo].[CompetitionEntryForm_GetPayments]
--GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_SummaryReport]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[CompetitionEntryForm_SummaryReport]
GO

/****** Object:  StoredProcedure [dbo].[Competitions_GetEntryForm]    Script Date: 02/08/2016 14:00:27 ******/
DROP PROCEDURE [dbo].[Competitions_GetEntryForm]
GO

/****** Object:  StoredProcedure [dbo].[Competitions_GetEntryForm]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Competitions_GetEntryForm]
	(@ClubID int
	)
as

set nocount on

select ClubID
	  ,WIP
      ,AmountPaid = ISNULL((select SUM(AmountPaid)
								from Payments
								where ClubID=Competitions_EntryFormsClubs.ClubID), 0)
      ,EntryFee   = isnull((select sum(EntryFee) 
								from Competitions_EntryForms 
								cross apply (Select EntryFee from Competitions where ID=CompetitionID) ef
								where ClubID=@ClubID) ,0)
	  ,ClubName
	from Competitions_EntryFormsClubs 
	cross apply (select ClubName=[Club Name] from Clubs where ID=ClubID) y
	where ClubID=@ClubID

select [Date]=CONVERT(varchar(17),DateTimePaid,113)
      ,PaymentMethod
	  ,PaymentReason
	  ,Amount = '&pound;' + CONVERT (varchar, AmountPaid)
	  ,Note
	  ,PaidBy=ISNULL(PaidBy,'')
	from Payments
	where ClubID=@ClubID
	  and AmountPaid <> 0
	  and PaymentReason = 'Competition Entry Fee'

GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_SummaryReport]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[CompetitionEntryForm_SummaryReport]
	@WIP int = 0 -- only report entries that have at least reached this stage
	             -- -1 = only those that have not entered
as

set nocount on
if @WIP = -1 
	select E.ClubID, C.[Club Name]
	  ,[State]=dbo.EntryForm_State(WIP)
	  ,Fee='£' + convert(varchar (8),sum(EntryFee))
	  ,AmountPaid='£' + convert(varchar (8),isnull(AmountPaid,0))
     
	from Competitions_EntryForms E
	join Clubs C on ClubID=C.ID 
	join Competitions_EntryFormsClubs F on F.ClubID=E.ClubID
	join Competitions on Competitions.ID=CompetitionID
	outer apply (select AmountPaid = SUM(AmountPaid) from Payments where ClubID=E.ClubID and PaymentReason = 'Competition Entry Fee') ap

	where WIP = 0

	group by E.ClubID, C.[Club Name], WIP, AmountPaid
	order by [Club Name], WIP

else
	select E.ClubID, C.[Club Name]
	  ,[State]=dbo.EntryForm_State(WIP)
	  ,Fee='£' + convert(varchar (8),sum(EntryFee))
	  ,AmountPaid='£' + convert(varchar (8),isnull(AmountPaid,0))
     
	from Competitions_EntryForms E
	join Clubs C on ClubID=C.ID 
	join Competitions_EntryFormsClubs F on F.ClubID=E.ClubID
	join Competitions on Competitions.ID=CompetitionID
	outer apply (select AmountPaid = SUM(AmountPaid) from Payments where ClubID=E.ClubID and PaymentReason = 'Competition Entry Fee') ap

	where WIP >= @WIP

	group by E.ClubID, C.[Club Name], WIP, AmountPaid
	order by [Club Name], WIP


GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_GetPayments]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[CompetitionEntryForm_GetPayments]
	(@ClubID int
	)
as

set nocount on

select [Date]=CONVERT(varchar(17),DateTimePaid,113)
      ,PaymentMethod
	  ,PaymentReason
	  ,AmountPaid 
	  ,PaymentFee
	  ,PaymentID
	  ,TransactionID
	  ,PaidBy=ISNULL(PaidBy,'')

	  --, * 

	from Payments
	where ClubID=@ClubID
	  and AmountPaid <> 0
	  and PaymentReason = 'Competition Entry Fee'


GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_AddPayment]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[CompetitionEntryForm_AddPayment]
	(@ClubID int
	,@PaymentMethod varchar(255)
	,@PaymentReason varchar(255)
	,@amount decimal(9,2)
	,@PaymentFee decimal(9,2)
    ,@Note varchar(255)
	,@TransactionID varchar(17)
	,@user varchar(1024)
	,@PaidBy varchar(1000)
	,@DateTimePaid datetime
	)
as

set nocount on
set xact_abort on

begin tran

if @DateTimePaid is null
	set @DateTimePaid=GETDATE()

--get the next PaymentID
Declare @PaymentID int
declare @NextPaymentIDTable table (PaymentID int)
insert @NextPaymentIDTable exec NextPaymentID @ClubID
select @PaymentID=PaymentID from @NextPaymentIDTable

--merge the new payment data
exec CompetitionEntryForm_UpdateFeePaid
	 @PaymentID 
	,@ClubID 
	,@PaymentMethod
	,@PaymentReason
	,@amount 
	,@PaymentFee
    ,@Note 
	,@TransactionID
	,@user 
	,@PaidBy
	,@DateTimePaid



insert ActivityLog
	select getdate(),'Competition EntryForm Payment added(ID=' + convert(varchar,@PaymentID) + ')',@ClubID,@user

commit tran

GO

/****** Object:  StoredProcedure [dbo].[EntryForm_Details]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[EntryForm_Details]
	(@ClubID int
	,@Refresh bit = 0
	)
as

set nocount on
set xact_abort on

begin tran


if @Refresh=1 and @ClubID <> 0
	begin
	delete from EntryForm_Clubs   where  ClubID=@ClubID
	delete from EntryForm_Teams   where  ClubID=@ClubID
	delete from EntryForm_Players where  ClubID=@ClubID
	
	insert EntryForm_Clubs
			select *,1,0 from Clubs where ID=@ClubID
	
	insert EntryForm_Teams
			select   ClubID
					,Team
					,LeagueID
					,TelNo
					,Contact
					,eMail
					,Teams.ID
				from Teams 
				join Sections on Sections.ID=SectionID
				where ClubID=@ClubID

	insert EntryForm_Players
		select   ID
				,ClubID
				,LeagueID
				,Team
				,Forename
				,Initials
				,Surname
				,Handicap
				,email
				,TelNo
				,Tagged
				,Over70 
			from Players
			where ClubID=@Clubid
	end

select ClubID, [Club Name], Address1, Address2, PostCode, ContactName, ContactEMail, ContactTelNo, ContactMobNo, MatchTables, WIP --, FeePaid=isnull(FeePaid,0)
		, Fee=isnull((Select Fee from EntryForm_Fees where Entity='club'),0), FeePaid
	from EntryForm_Clubs C
	where ClubID=@ClubID 

select  League = [League Name]
       ,Team
 	   ,T.LeagueID
	   ,Contact = isnull(Contact,'')
	   ,eMail = isnull(eMail,'')
	   ,telNo = isnull(telNo,'')
	   ,Fee=isnull(Fee,0)
	from EntryForm_Teams T
	join Leagues on Leagues.ID = T.LeagueID
	join EntryForm_Fees F on F.LeagueID=T.LeagueID
	where ClubID=@ClubID
	order by LeagueID, Team

select	 PlayerID
        ,P.LeagueID
		,Forename
		,Inits = Initials 
		,Surname
		,[H'cap]=Handicap
		,P.Team
		,P.eMail
		,P.TelNo
		,Tag = dbo.TagDescription(Tagged)
       ,Over70
	   ,Tagged

	from EntryForm_Players P
	join EntryForm_Teams T on T.ClubID=P.ClubID and T.Team=P.Team and T.LeagueID=P.LeagueID
	where P.ClubID=@ClubID
	order by LeagueID,P.Team,Forename,Surname


commit tran


GO

/****** Object:  StoredProcedure [dbo].[NextPaymentID]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[NextPaymentID]
	(@ClubID as int
	)
as

set noCount on	
set xact_abort on

begin tran

declare @ID varchar(15)
declare @cfgPaymentID int
declare @pmtPaymentID int
select @ID = [value] from Configuration where [key]='LastPaymentID'
if @ID is null
	begin
	insert Configuration select 'LastPaymentID','1' 
	set @cfgPaymentID = 1
	end
else
	set @cfgPaymentID = convert(int,@ID)

select @pmtPaymentID = MAX(PaymentID) from Payments
if @pmtPaymentID > @cfgPaymentID
	set @cfgPaymentID = @pmtPaymentID
	
if @cfgPaymentID > 2147483646
	set @cfgPaymentID = 1
else
	set @cfgPaymentID = @cfgPaymentID + 1

insert Payments  --Record paymentID against Club
	select GETDATE(), @ClubID, '','Request PaymentID', 0,0, @cfgPaymentID, '','',''

update Configuration 
	set [value]=convert(varchar,@cfgPaymentID) 
	where [key]='LastPaymentID'

select @cfgPaymentID

commit tran

GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_UpdateFeePaid]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[CompetitionEntryForm_UpdateFeePaid]
	(@PaymentID int
	,@ClubID int
	,@PaymentMethod varchar(255)
	,@PaymentReason varchar(255)
	,@amount decimal(9,2)
	,@PaymentFee decimal(9,2)
    ,@Note varchar(255)
	,@TransactionID varchar(17)
	,@user varchar(1024)
	,@PaidBy varchar(1000)
	,@DateTimePaid datetime
	)
as

set nocount on
set xact_abort on

begin tran

if @DateTimePaid is null
	set @DateTimePaid=GETDATE()

merge Payments as target
    using (select PaymentID=@PaymentID) as source
    on (target.PaymentID = source.PaymentID)
    
    when matched then
		update
		set  ClubID=@ClubID
		    ,DateTimePaid=@DateTimePaid
			,PaymentMethod=@PaymentMethod
			,PaymentReason=@PaymentReason
			,PaymentFee=@PaymentFee
			,AmountPaid=@amount
			,Note=@Note
			,TransactionID=@TransactionID
			,PaidBy=@PaidBy

	when not matched then
		insert
			(DateTimePaid
			,ClubID
			,PaymentMethod
			,PaymentReason
			,AmountPaid
			,PaymentFee
			,PaymentID
			,Note
			,TransactionID
			,PaidBy)
		values
			(@DateTimePaid
			,@ClubID
			,@PaymentMethod
			,@PaymentReason
			,@Amount
			,@PaymentFee
			,@PaymentID
			,@Note
			,@TransactionID
			,@PaidBy)
		;



insert ActivityLog
	select getdate(),'Competition EntryForm amountpaid merged(ID=' + convert(varchar,@PaymentID) + ')',@ClubID,@user

commit tran

GO

/****** Object:  StoredProcedure [dbo].[CompetitionEntryForm_MergeClubData]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[CompetitionEntryForm_MergeClubData]
	(@ClubID int       
	,@WIP int 
	)

as
set nocount on     

MERGE Competitions_EntryFormsClubs AS target
    USING (SELECT @ClubID) AS source (ClubID)
    
    ON (target.ClubID = source.ClubID)
    
    
    WHEN MATCHED THEN 
        UPDATE SET
             WIP		= @WIP
					
    WHEN NOT MATCHED THEN    
		INSERT  (ClubID
				,WIP
                )
		values  (	 @ClubID
					,1)
			;


GO

/****** Object:  StoredProcedure [dbo].[GetPlayerDetails]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetPlayerDetails]
	(@LeagueID int = 0
	,@SectionID int = 0
	,@ClubID int = 0
	,@Team char(1) = ''
	)

as 

set nocount on

select  Forename, Initials, Surname, Handicap, [Club Name],Team,Played,Tagged,[Over70(80 Vets)]=Over70,email,TelNo
      ,[League Name],[Section Name],LeagueID,SectionID,ClubID,ID 
	from PlayerDetails
	where (@LeagueID=0 or @LeagueID=LeagueID)
	  and (@SectionID=0 or @SectionID=SectionID)
	  and (@ClubID=0 or @ClubID=ClubID)
	  and (@Team='' or @Team=Team)
	order by LeagueID,SectionID,[Club Name], Team



GO

/****** Object:  StoredProcedure [dbo].[Competitions_Report]    Script Date: 02/08/2016 14:00:27 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Competitions_Report]
	(@ClubID int
	)
as

set nocount on

if @ClubID=0
	begin
	exec Competitions_ReportAll
	return
	end

declare @Report table
	(Competition varchar(256)
	,[Entrant(s)] varchar(256)
	,TelNo varchar(20)
	,eMail varchar(256)
	,EntryFee varchar(10)
	)
create table #Comp 
		(ID int identity(0,1)
		,line varchar(256)
		)

create table #Entrants 
		(ID int identity(0,1)
		,[Entrant(s)] varchar(600)
		,TelNo varchar(20)
		,eMail varchar(256)
		,EntryFee decimal (5,2)
		) 

--insert @Report
--	select 'Entry form for',[Club Name] + ' (' + dbo.EntryForm_State(WIP) + ')','TelNo','eMail','Fee' 
--		from Clubs 
--		cross apply (Select WIP from Competitions_EntryFormsClubs where ClubID=@ClubID) x
--		where ID=@ClubID

declare @CompetitionID int
declare CompetitionIDs_cursor cursor fast_forward for
	select distinct CompetitionID 
		from Competitions_EntryForms
		where ClubID=@ClubID
		order by CompetitionID

open CompetitionIDs_cursor
fetch CompetitionIDs_cursor into @CompetitionID
while @@fetch_status=0
	begin

	insert @Report
		select NULL,NULL,NULL,NULL,NULL 
	insert #Comp 
		select '<b>'+name+'</b>' From Competitions where ID=@CompetitionID
	insert #Comp 
		select 'Entry Fee £' + convert(varchar,EntryFee) From Competitions where ID=@CompetitionID

	declare @Comment varchar(256)
	select @Comment=Comment From Competitions where ID=@CompetitionID
	declare @ix int, @iy int
	set @ix=0
	while @ix < len(@Comment)
		begin
		set @iy = charindex(char(13)+char(10),@Comment,@ix)
		if @iy > 0
			begin
			insert #Comp select substring(@comment,@ix,@iy-@ix)
			set @ix=@iy+2
			end
		else
			begin
			insert #Comp select substring(@comment,@ix,len(@Comment)-@ix+1)
			set @ix=len(@Comment)
			end
	end

	insert #Entrants 
		select NULL,NULL,NULL,NULL
	insert #Entrants
	select   [Entrant(s)] = case when CompType = 4 then Clubs.[Club Name] + ' ' + T.Team
					                               else dbo.FullPlayerName(P.Forename,P.Initials,P.Surname) +
														case when CompType=2 then '(' + convert(varchar,P.Handicap) + ')' else '' end +
					                                    case when CompType=3 then '/' + dbo.FullPlayerName(P2.Forename,P2.Initials,P2.Surname) else '' end +
				                                        case when P.ClubID <> @ClubID then ' [' + L.[Club Name] + ']' else '' end
															
	                        end 
			,TelNo = case when CompType = 4 then T.TelNo
			                                else P.TelNo
				     end
			,eMail = case when CompType = 4 then T.eMail
			                                else P.eMail
			         end

			,EntryFee
		From Competitions_EntryForms E
		cross apply (Select Competition = Name 
	                   ,CompType
					   ,EntryFee
					   ,LeagueID
					from Competitions 
					where ID=E.CompetitionID) C
		left join Players P
		  on P.ID=EntrantID
		left join Players P2
		  on P2.ID=Entrant2ID
	    left join Clubs 
		  on Clubs.ID=E.ClubID
	    left join teams T
		  on T.ID=EntrantID
        OUTER apply (Select [Club Name] = ISNULL([Club Name],'')
						from Clubs 
						where ID=  P.ClubID) L

		where CompetitionID=@CompetitionID
		  and E.ClubID=@ClubID
		order by CompetitionID
		        ,case when P.LeagueID=C.LeagueID then 0 else P.LeagueID end
				,P.Surname, T.Team

	if (select count(*) from #Comp) > (select count(*) from #Entrants)
		insert @Report
			select CompetitionIDs_cursor.line, E.[Entrant(s)], TelNo,eMail,EntryFee 
				from #Comp CompetitionIDs_cursor 
				left join #Entrants E on CompetitionIDs_cursor.ID=E.ID
	else
		insert @Report
			select CompetitionIDs_cursor.line, E.[Entrant(s)], TelNo,eMail,EntryFee 
				from #Entrants E
				left join #Comp CompetitionIDs_cursor on CompetitionIDs_cursor.ID=E.ID
	truncate table #Entrants
	truncate table #Comp

	fetch CompetitionIDs_cursor into @CompetitionID
	end

close CompetitionIDs_cursor
deallocate CompetitionIDs_cursor

select Competition,[Entrant(s)],TelNo,eMail
		,EntryFee= case when isnumeric(EntryFee)=1 then '£' +  convert(varchar,entryFee) else EntryFee end
	from @Report

drop table #Comp
drop table #Entrants


GO

