USE [HBSA_Test]
GO
/****** Object:  Table [dbo].[AGM_Votes_Resolutions]    Script Date: 04/07/2021 11:36:50 ******/
DROP TABLE [dbo].[AGM_Votes_Resolutions]
GO
/****** Object:  Table [dbo].[AGM_Votes_Cast]    Script Date: 04/07/2021 11:36:50 ******/
DROP TABLE [dbo].[AGM_Votes_Cast]
GO
/****** Object:  Table [dbo].[AGM_Votes_Cast]    Script Date: 04/07/2021 11:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGM_Votes_Cast](
	[ClubID] [int] NOT NULL,
	[ResolutionID] [int] NOT NULL,
	[For] [bit] NOT NULL,
	[Against] [bit] NOT NULL,
	[Withheld] [bit] NOT NULL,
 CONSTRAINT [PK_AGM_Votes_Cast] PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC,
	[ResolutionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGM_Votes_Cast_20200714]    Script Date: 04/07/2021 11:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGM_Votes_Cast_20200714](
	[ClubID] [int] NOT NULL,
	[ResolutionID] [int] NOT NULL,
	[For] [bit] NOT NULL,
	[Against] [bit] NOT NULL,
	[Withheld] [bit] NOT NULL,
 CONSTRAINT [PK_AGM_Votes_Cast_20210701] PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC,
	[ResolutionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGM_Votes_Resolutions]    Script Date: 04/07/2021 11:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGM_Votes_Resolutions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResolutionType] [varchar](60) NULL,
	[Resolution] [varchar](1000) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGM_Votes_Resolutions_20200714]    Script Date: 04/07/2021 11:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGM_Votes_Resolutions_20200714](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResolutionType] [varchar](60) NULL,
	[Resolution] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_AGM_Votes_Resolutions_20200714] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AGM_Votes_Cast] ([ClubID], [ResolutionID], [For], [Against], [Withheld]) VALUES (51, 1, 1, 0, 0)
INSERT [dbo].[AGM_Votes_Cast] ([ClubID], [ResolutionID], [For], [Against], [Withheld]) VALUES (51, 2, 1, 0, 0)
INSERT [dbo].[AGM_Votes_Cast] ([ClubID], [ResolutionID], [For], [Against], [Withheld]) VALUES (51, 3, 1, 0, 0)
INSERT [dbo].[AGM_Votes_Cast_20200714] ([ClubID], [ResolutionID], [For], [Against], [Withheld]) VALUES (1, 1, 0, 0, 1)
INSERT [dbo].[AGM_Votes_Cast_20200714] ([ClubID], [ResolutionID], [For], [Against], [Withheld]) VALUES (1, 2, 0, 0, 1)
INSERT [dbo].[AGM_Votes_Cast_20200714] ([ClubID], [ResolutionID], [For], [Against], [Withheld]) VALUES (1, 3, 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[AGM_Votes_Resolutions] ON 

INSERT [dbo].[AGM_Votes_Resolutions] ([ID], [ResolutionType], [Resolution]) VALUES (1, N'Ordinary Resolutions', N'1. Acceptance of minutes of 2020 AGM')
INSERT [dbo].[AGM_Votes_Resolutions] ([ID], [ResolutionType], [Resolution]) VALUES (2, N'Ordinary Resolutions', N'2. Approve the Annual Report and Accounts ')
INSERT [dbo].[AGM_Votes_Resolutions] ([ID], [ResolutionType], [Resolution]) VALUES (3, N'Special Resolutions', N'<b>1.  Qualifying criteria for entering competitions.</b><br />Competition entrants must have played a minimum of 3 games in the current season OR 5 games in the current and last season combined.  (The ''3/5 rule''). This applies to all competitions, the only exception being where the entrant is under 18 years of age (and does not play in other leagues or competitions outside of HBSA). In this scenario the ''3/5 rule'' is waived.')
SET IDENTITY_INSERT [dbo].[AGM_Votes_Resolutions] OFF
SET IDENTITY_INSERT [dbo].[AGM_Votes_Resolutions_20200714] ON 

INSERT [dbo].[AGM_Votes_Resolutions_20200714] ([ID], [ResolutionType], [Resolution]) VALUES (1, N'Ordinary Resolutions', N'1. Acceptance of minutes of 2018/2019 AGM')
INSERT [dbo].[AGM_Votes_Resolutions_20200714] ([ID], [ResolutionType], [Resolution]) VALUES (2, N'Ordinary Resolutions', N'2. Approve the Annual Report and Accounts ')
INSERT [dbo].[AGM_Votes_Resolutions_20200714] ([ID], [ResolutionType], [Resolution]) VALUES (3, N'Special Resolutions', N'<b>1. New qualifying criteria for entering competitions.</b><br />A minimum of 3 games in the current season OR 5 games in the current and last season combined. This does NOT apply to junior snooker competitions. With immediate effect.')
SET IDENTITY_INSERT [dbo].[AGM_Votes_Resolutions_20200714] OFF

