USE [HBSA]
GO
/****** Object:  View [dbo].[MatchResultsDetails2]    Script Date: 12/12/2014 17:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[MatchResultsDetails2]

as

SELECT *
	from MatchResults R
	outer apply (select HomePlayer1=Surname + ' ' + Forename + ' ' + Initials from Players where ID=HomePlayer1ID) h1	
	outer apply (select HomePlayer2=Surname + ' ' + Forename + ' ' + Initials from Players where ID=HomePlayer2ID) h2	
	outer apply (select HomePlayer3=Surname + ' ' + Forename + ' ' + Initials from Players where ID=HomePlayer3ID) h3	
	outer apply (select HomePlayer4=Surname + ' ' + Forename + ' ' + Initials from Players where ID=HomePlayer4ID) h4
	outer apply (select AwayPlayer1=Surname + ' ' + Forename + ' ' + Initials from Players where ID=AwayPlayer1ID) a1	
	outer apply (select AwayPlayer2=Surname + ' ' + Forename + ' ' + Initials from Players where ID=AwayPlayer2ID) a2	
	outer apply (select AwayPlayer3=Surname + ' ' + Forename + ' ' + Initials from Players where ID=AwayPlayer3ID) a3	
	outer apply (select AwayPlayer4=Surname + ' ' + Forename + ' ' + Initials from Players where ID=AwayPlayer4ID) a4
		cross apply (
					select D.FixtureDate
						from FixtureGrids F
						cross apply (select FixtureNo, SectionID from Teams where ID=R.HomeTeamID) H
						cross apply	(select FixtureNo from Teams where ID=R.AwayTeamID) A
						cross apply (Select FixtureDate from FixtureDates 
						                                where SectionID = H.SectionID
														  and WeekNo = F.WeekNo
						                                  ) D
						
						where F.SectionID=H.SectionID
						  and ((h1=H.FixtureNo and a1=A.FixtureNo)
					 	    or (h2=H.FixtureNo and a2=A.FixtureNo)
						    or (h3=H.FixtureNo and a3=A.FixtureNo)
						    or (h4=H.FixtureNo and a4=A.FixtureNo)
						    or (h5=H.FixtureNo and a5=A.FixtureNo)
						    or (h6=H.FixtureNo and a6=A.FixtureNo)
						    or (h7=H.FixtureNo and a7=A.FixtureNo)
						    or (h8=H.FixtureNo and a8=A.FixtureNo)
						       )
			  ) FD			       





GO
