USE [HBSA]
GO
/****** Object:  Table [dbo].[FixtureDatesCurfew]    Script Date: 12/12/2014 17:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixtureDatesCurfew](
	[SectionID] [int] NULL,
	[StartDate] [date] NULL,
	[Enddate] [date] NULL
) ON [PRIMARY]

GO
