USE [HBSA]
GO
/****** Object:  Table [Configuration]    Script Date: 01/08/2018 12:59:09 ******/
if exists (select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME='Configuration')
	drop table [Configuration]
GO
CREATE TABLE [Configuration](
	[key] [varchar](150) NULL,
	[value] [varchar](1000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Settings]    Script Date: 01/08/2018 12:59:09 ******/
if exists (select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME='Settings')
	drop table [Settings]
GO
CREATE TABLE [Settings](
	[Category] [varchar](24) NULL,
	[Setting] [varchar](128) NULL,
	[ControlType] [varchar](16) NULL,
	[ConfigKey] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [Configuration] ([key], [value]) VALUES (N'LeagueSecretaryEmail', N'johnwilson556@virginmedia.com')
GO
INSERT [Configuration] ([key], [value]) VALUES (N'CompetitionsSecretaryEmail', N'srtaylor1942@gmail.com;d.lomax349@btinternet.com')
GO
INSERT [Configuration] ([key], [value]) VALUES (N'WebAdministratorEmail', N'webmaster@huddersfieldsnooker.com')
GO
insert [Configuration] select 'EntryFormNewRegStartHCap',-99
insert [Configuration] select 'EntryFormNoQualifyingMatches',5
insert [Configuration] select 'EntryFormNoQualifyingMatchesNewReg',2

GO
INSERT [Settings] ([Category], [Setting], [ControlType], [ConfigKey]) VALUES (N'eMail Addresses', N'League Secretary', N'TextBox', N'LeagueSecretaryEmail')
GO
INSERT [Settings] ([Category], [Setting], [ControlType], [ConfigKey]) VALUES (N'eMail Addresses', N'Competitions Secretary', N'TextBox', N'CompetitionsSecretaryEmail')
GO
INSERT [Settings] ([Category], [Setting], [ControlType], [ConfigKey]) VALUES (N'eMail Addresses', N'Web Administrator', N'TextBox', N'WebAdministratorEmail')
GO
insert Settings select 'Entry Forms', 'Starting Handicap for new player in entry form', 'integer',  'EntryFormNewRegStartHCap'
insert Settings select 'Entry Forms', 'No of matches required for a player to qualify for a competition','Integer','EntryFormNoQualifyingMatches'
insert Settings select 'Entry Forms', 'No of matches required for a new player to qualify for a competition','Integer','EntryFormNoQualifyingMatchesNewReg'
GO