USE [HBSA]
GO
/****** Object:  Table [dbo].[HandicapLimits]    Script Date: 12/12/2014 17:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HandicapLimits](
	[LeagueID] [int] NULL,
	[MaxHandicap] [int] NULL,
	[Minhandicap] [int] NULL
) ON [PRIMARY]

GO
