USE [HBSA]
GO
/****** Object:  Table [dbo].[Homepages]    Script Date: 12/12/2014 17:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Homepages](
	[PageName] [varchar](255) NULL,
	[HitCounter] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
