USE [HBSA]
GO
/****** Object:  Table [dbo].[FixtureGrids]    Script Date: 12/12/2014 17:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixtureGrids](
	[SectionID] [int] NULL,
	[SectionSize] [smallint] NULL,
	[WeekNo] [smallint] NULL,
	[h1] [smallint] NULL,
	[a1] [smallint] NULL,
	[h2] [smallint] NULL,
	[a2] [smallint] NULL,
	[h3] [smallint] NULL,
	[a3] [smallint] NULL,
	[h4] [smallint] NULL,
	[a4] [smallint] NULL,
	[h5] [smallint] NULL,
	[a5] [smallint] NULL,
	[h6] [smallint] NULL,
	[a6] [smallint] NULL,
	[h7] [smallint] NULL,
	[a7] [smallint] NULL,
	[h8] [smallint] NULL,
	[a8] [smallint] NULL
) ON [PRIMARY]

GO
