USE [HBSA]
GO
/****** Object:  StoredProcedure [dbo].[ListAdjustedPoints]    Script Date: 12/12/2014 17:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


alter procedure [dbo].[ListAdjustedPoints]

as

set nocount on

select SectionID
      ,TeamID
	  ,Section=[League Name]+' '+[Section Name] 
	  ,Team=[Club Name]+' '+Team
      ,Points
      ,Comment
	  ,CreatedDate
	  ,CreatedBy	  

	from LeaguePointsAdjustment 
	join Teams on Teams.ID=TeamID
	join Clubs on Clubs.ID=ClubID
	join Sections on Sections.ID=SectionID
	join Leagues on Leagues.ID=LeagueID
	
order by SectionID, Team



GO
