USE [HBSA]
GO
/****** Object:  StoredProcedure [dbo].[FixtureMatrix]    Script Date: 12/12/2014 17:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter procedure [dbo].[FixtureMatrix] 
	 @SectionID int
as

set nocount on

declare @SectionSize int
select @SectionSize=count(*)/2 from Teams where SectionID=@SectionID
declare @SQL varchar(4000)
set @SQL='
select [Date]=convert(varchar(11),FixtureDate,113)'
declare @ix int
set @ix=0
while @ix < @SectionSize  
	begin
    set @ix=@ix+1  
	set @SQL=@SQL + '
      ,[' + CHAR(@ix+96) + '] = convert(varchar,h' + convert(varchar,@ix) + ')+'' v ''+convert(varchar,a' + convert(varchar,@ix) + ')'
    end  
set @SQL=@SQL + '      
from FixtureGrids M
join FixtureDates D
  on D.SectionID=' + convert(varchar,@SectionID) + '
 and M.WeekNo=D.WeekNo 
where M.SectionID=' + convert(varchar,@SectionID) + '
order by FixtureDate'
exec (@SQL)



GO
[FixtureMatrix] 10