USE [HBSA]
GO
/****** Object:  StoredProcedure [dbo].[adminCheckLogin]    Script Date: 12/12/2014 17:46:00 ******/
if exists (select ROUTINE_NAME from INFORMATION_SCHEMA.ROUTINES where ROUTINE_NAME = 'getHomeContent' and SPECIFIC_SCHEMA='dbo')
	drop procedure dbo.getHomeContent
GO

create procedure dbo.getHomeContent

as

set noCount on	

select Title=Title
      ,Article=ArticleHTML
	  ,[Date Recorded] = convert(varchar(11),dbo.UKdateTime(dtlodged),113)
	from HomeContent
GO
exec getHomeContent

<p>   Please note that the AGM will take place on Monday 20th June (7.30pm) at Lindley Liberal Club. Any proposals for rule changes or for items to be included in the Agenda should be submitted to Rod Taylor (Secretary), in writing, by 5th June.</p>  <p>   &nbsp;</p>  