USE [HBSA]
GO
/****** Object:  StoredProcedure [dbo].[GetAwayTeam]    Script Date: 12/12/2014 17:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAwayTeam]
	(@Weekno int
	,@SectionID int
	,@HomeTeamID int
	)
as

set nocount on

declare @HomeFixtureNo int
select @HomeFixtureNo = FixtureNo from Teams where ID=@HomeTeamID

declare @AwayFixtureNo int
select @AwayFixtureNo =
	case when h1 = @HomeFixtureNo then a1
	     when h2 = @HomeFixtureNo then a2
	     when h3 = @HomeFixtureNo then a3
	     when h4 = @HomeFixtureNo then a4
	     when h5 = @HomeFixtureNo then a5
	     when h6 = @HomeFixtureNo then a6
	     when h7 = @HomeFixtureNo then a7
	     when h8 = @HomeFixtureNo then a8
	end     
	     
from FixtureGrids
where SectionID=@SectionID
  and WeekNo=@Weekno 

declare @AwayTeamID int
select @AwayTeamID = ID from Teams where SectionID = @SectionID and FixtureNo=@AwayFixtureNo 

exec TeamDetails @AwayTeamID



GO
