USE [HBSA]
GO
/****** Object:  StoredProcedure [dbo].[FixtureDatesBySection]    Script Date: 12/12/2014 17:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[FixtureDatesBySection] 
	(@SectionID int 
	)
as

set nocount on	

declare @SectionSize int
select @SectionSize=count(*) from Teams where SectionID=@SectionID

declare @Fixtures table (MatchDate date, HomeFixtureNo int, AwayFixtureNo int, SectionID int)

declare c cursor for
	select M.*, FixtureDate
		from FixtureGrids M
		join FixtureDates D
		  on D.SectionID=@SectionID
		 and M.WeekNo=D.WeekNo 
		 
	 where M.SectionID=@SectionID
	 order by WeekNo
	 
Declare @sid int, @ss int, @Weekno int
	   ,@h1 int,@a1 int
	   ,@h2 int,@a2 int
	   ,@h3 int,@a3 int
	   ,@h4 int,@a4 int
	   ,@h5 int,@a5 int
	   ,@h6 int,@a6 int
	   ,@h7 int,@a7 int
	   ,@h8 int,@a8 int, @MatchDate date
open c
fetch c into @sid, @ss, @Weekno,@h1,@a1,@h2,@a2,@h3,@a3,@h4,@a4,@h5,@a5,@h6,@a6,@h7,@a7,@h8,@a8, @MatchDate
while @@FETCH_STATUS=0
	begin
	if not @h1 is null insert @Fixtures values (@MatchDate, @h1, @a1, @sid)
	if not @h2 is null insert @Fixtures values (@MatchDate, @h2, @a2, @sid)
	if not @h3 is null insert @Fixtures values (@MatchDate, @h3, @a3, @sid)
	if not @h4 is null insert @Fixtures values (@MatchDate, @h4, @a4, @sid)
	if not @h5 is null insert @Fixtures values (@MatchDate, @h5, @a5, @sid)
	if not @h6 is null insert @Fixtures values (@MatchDate, @h6, @a6, @sid)
	if not @h7 is null insert @Fixtures values (@MatchDate, @h7, @a7, @sid)
	if not @h8 is null insert @Fixtures values (@MatchDate, @h8, @a8, @sid)
	fetch c into @sid, @ss, @Weekno,@h1,@a1,@h2,@a2,@h3,@a3,@h4,@a4,@h5,@a5,@h6,@a6,@h7,@a7,@h8,@a8, @MatchDate
	end
close c
deallocate c

select * 
	from @Fixtures




GO
